body {
    margin: 0px;
}

li {
    margin: 15px;
}

a:link, a:visited {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 35vw;
    width: 100%;
    background-color: #ffffff;
}

h1 {
    font-family: Courier, cursive;
    margin-left: 20px;
}

h3 {
    font-family: Courier, cursive;
    font-weight: bold;

}

#footertext {
    margin-left: 20px;
    margin-top: 5px;
    font-family: Courier, cursive;
    width: 1000px;
}

#logos {
    text-align: center;
    margin-top: 20px;
    min-width: 700px;
}

#maes-logo {
    display: inline-block;
    padding-right: 60px;
}

#ah-logo {
    display: inline-block;
    padding-right: 60px;
}

#mco-logo {
    display: inline-block;
}

p {
    font-family: Courier;
    margin-left: 20px;
}

.legend {
    width: 150px;
    height: 175px;
    background-color: #ffffff;    margin-left: 20px;
    /*position: absolute;*/
    /*top: 155px;*/
    /*right: 30px;*/
    border-radius: 10px;
    text-align: center;
    display: block;
    border-style: solid;
    border-color: gray;
}

/* Location control */
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

/* Header menus */
#container {
    width:1000px;
}

.header-cont{
    font-family: Courier, cursive;
    font-weight: bold;
}

.header-pop{
    font-family: Courier, cursive;
}

#intro-cont {
    margin-left: 50px;
    float: left;
    margin-bottom: 10px;
}

#intro-pop {
    position: absolute;
    top: 120px;
    z-index: 9998;
    font-weight: normal;
    font-family: Courier, cursive;
    width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
}

#howto-cont{
    position: relative;
    float: left;
    margin-left: 40px;
}

#howto-pop{
    position: absolute;
    top: 40px;
    z-index: 9999;
    font-weight: normal;
    font-family: Courier, cursive;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
}

#cond-cont{
    position: relative;
    float: left;
    margin-left: 40px;
}

#cond-pop{
    position: absolute;
    top: 40px;
    z-index: 9999;
    font-weight: normal;
    font-family: Courier, cursive;
    width: 95px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
}

#ack-cont{
    position: relative;
    float: left;
    margin-left: 40px;
}

#ack-pop{
    position: absolute;
    top: 40px;
    z-index: 9999;
    font-weight: normal;
    font-family: Courier, cursive;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
}

#bugs-cont{
    position: relative;
    float: left;
    margin-left: 40px;
    color: red;
}

#bugs-pop{
    position: absolute;
    top: 40px;
    z-index: 9999;
    font-weight: normal;
    font-family: Courier, cursive;
    color: red;
    width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    left: -700px;
    border-style: solid;
    border-color: indianred;
}


